.leaf-view_title
  .leaf-view_title_label
    p.leaf-view_title_label_value {{leaf.value}}
    small.leaf-view_title_label_name.md-caption {{leaf.label}}
  button.action(md-icon-button='')
    i.material-icons edit
  button.action(md-icon-button='')
    i.material-icons delete
